---
import { ViewTransitions } from "astro:transitions";

import Header from "~/components/ui/header.astro";

const title = "Node Zebra Wrapped 2023";
const url = "https://dept-node-zebra-wrapped.vercel.app/articles";
const image = "https://dept-node-zebra-wrapped.vercel.app/og.png";
const description =
  "🎄 Node Weekly is our friendly bi-weekly newsletter with edgy tech articles and tools. This is the 2023 recap of the most read articles.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎁</text></svg>"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <style>
      @font-face {
        font-family: "MaisonNeueMG";
        src: url("/fonts/MaisonNeue-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: block;
      }

      @font-face {
        font-family: "MaisonNeueMG";
        src: url("/fonts/MaisonNeue-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: block;
      }

      @font-face {
        font-family: "MaisonNeueMG";
        src: url("/fonts/MaisonNeue-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: block;
      }

      @font-face {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url("/fonts/PlayfairDisplay-Regular.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
    <ViewTransitions />
  </head>
  <body
    class="h-screen flex flex-col lg:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"
  >
    <Header />

    <main class="flex-1 py-4" transition:animate="slide">
      <slot />
    </main>
  </body>
</html>
