---
import Layout from "~/components/layout/base.astro";

import Card from "~/components/ui/card.astro";
import Grid from "~/components/ui/grid.astro";

import articleList from "~/data/articles.ts";

return Astro.redirect("/articles");
---

<Layout>
  <Grid>
    {
      articleList.map((article) => (
        <Card title={article.title} image={article.image}>
          <a
            href={`/preview?url=${encodeURIComponent(article.url).toString()}`}
          >
            <div class="h-full flex flex-col justify-between">
              <p class="text-4xl font-playfair">{article.tag}</p>
              <p class="[text-wrap:balance] sm:text-base md:text-xs lg:text-base">
                {article.title}
              </p>
            </div>
          </a>
        </Card>
      ))
    }
  </Grid>
</Layout>
