---
import Layout from "~/components/layout/base.astro";

import Card from "~/components/ui/card.astro";
import Grid from "~/components/ui/grid.astro";

import toolsList from "~/data/tools.ts";
---

<Layout>
  <Grid>
    {
      toolsList.map((tool) => (
        <a href={`/preview?url=${encodeURIComponent(tool.url).toString()}`}>
          <Card title={tool.title} image={tool.image}>
            <div class="h-full flex flex-col justify-between">
              <p class="text-4xl font-playfair">{tool.tag}</p>
              <p class="[text-wrap:balance]">{tool.title}</p>
            </div>
          </Card>
        </a>
      ))
    }
  </Grid>
</Layout>
